div {
    button {
        margin-right: 20px;
    }
}
p {
    font-size: 20px;
    font-weight: 500;
}
div {
    margin: 20px;
    font-size: 20px;
    span {
        font-weight: bold;
        color: red;
    }
    span.true {   
        color: green;
    }
}